# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Distribution / packaging
.env.local
.env.development
.env.test
.env.production
.env.staging

# If you are using PyCharm
.idea/
*.iws
*.iml
*.ipr

# VSCode
.vscode/

# ML models
models/
*.pt
*.pth

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
ENV/
.aider*
.env
